<article>
    <p>
        <label>NOM: </label>
        <?php echo $this->unContact->getNom(); ?>
    </p>
    <p>
        <label>PRENOM: </label>
        <?php echo $this->unContact->getPrenom(); ?>
    </p>
    <p>
        <label>TELEPHONE: </label>
        <?php echo $this->unContact->getTelephone(); ?>
    </p>
    <p>
        <label>MAIL: </label>
        <?php echo $this->unContact->getEmail(); ?>
    </p>
    <a href="<?php echo $this->url('rContact-Gestion', array('action' => 'modifier', 'id' => $this->unContact->getId())); ?>">
        <input type="button" value="modifier">
    </a>
    <a href="<?php echo $this->url('rContact-Gestion', array('action' => 'supprimer', 'id' => $this->unContact->getId())); ?>">
        <input type="button" value="supprimer">
    </a>
</article>