
<article>
    <form method="POST" action="<?php echo $this->url('rContact-Gestion', array('action' => 'rechercher')); ?>">
        <input type="hidden" name="id" id="id"/>
        <input type="search" name="nom" id="nom" placeholder="rechercher..." />
        <input type="submit" value="RECHERCHER" />
    </form>
</article>
<?php if (!empty($_POST['nom'])): ?>
    <?php foreach ($this->collectionContact as $contact): ?>
        <article>
            <p>
                <label>NOM: </label>
                <?php echo $contact->getNom(); ?>
            </p>
            <p>
                <label>PRENOM: </label>
                <?php echo $contact->getPrenom(); ?>
            </p>
            <p>
                <label>TELEPHONE: </label>
                <?php echo $contact->getTelephone(); ?>
            </p>
            <p>
                <label>MAIL: </label>
                <?php echo $contact->getEmail(); ?>
            </p>
            <a href="<?php echo $this->url('rContact-Gestion', array('action' => 'modifier', 'id' => $contact->getId())); ?>">
                <input type="button" value="modifier">
            </a>
            <a href="<?php echo $this->url('rContact-Gestion', array('action' => 'supprimer', 'id' => $contact->getId())); ?>">
                <input type="button" value="supprimer">
            </a>

        </article>
        <br>
    <?php endforeach; ?>
<?php else: ?>
        <p>Ce contact n'existe pas</p>
<?php endif; ?>
